body{
    background-color: rgb(236, 14, 14);
}
.undernavcolor{}
img{width: 90px;
    border-radius: 50%;
}
.section1{https://www.youtube.com/watch?v=K2upGO5Bb48&list=PLZPZq0r_RZOO1zkgO4bIdfuLpizCeHYKv&index=9&pp=iAQB
    width: 100%;
    border: 10px solid red;
}
.navbar{border: 10px solid green;
    width: 700px;
    padding-right: 200px;
}